*.idea
*__pycache__
*.ipynb_checkpoints

FCNFilter/model.png
FCNFilter/data/
FCNFilter/weights/
FCNFilter/process/
FCNFilter/process - */
FCNFilter/result/
FCNFilter/*_weights.h5

COGSConverter/.vs
COGSConverter/out